.home {
	width: 100%;
	min-height: 100vh;
	height: auto;
	padding: 1vw;

	display: grid;
	grid-template-columns: 25% 25% auto 1fr;
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas:
		"about       experience  projects projects"
		"about       skills      projects projects"
		"referencies referencies contact cv";
	gap: 1vw;
}

.home__section {
	cursor: pointer;
	transition: 0.5s;
	position: relative;
}
.home__section__modal {
	border-radius: 1rem;
	position: absolute;
	transition: 1s;
	width: 100%;
	height: 100%;
}
.home__section__modal > div {
	color: #fff;
	height: 100%;
	border-radius: 1rem;
	overflow: none;
}
.home__section__modal:active {
	transform: scale(0.9);
}
.home__section__modal > .close-button {
	position: absolute;
	display: flex;
	justify-content: end;
	width: 100%;
	padding: 0.6rem 5%;
	transition: 0.5s;
	opacity: 0;
	z-index: -1;
}
.home__section__modal--open {
	z-index: 100;
	width: 100.2vw;
	height: 100vh;
	max-height: 100vh;
	border-radius: 0;
	cursor: default;
}
.home__section__modal--open > div {
	border-radius: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding-top: 2.5rem;
}
.home__section__modal--open:active {
	transform: scale(1);
}
.home__section__modal--open > .close-button {
	opacity: 1;
	z-index: 100;
}

.home__about-me {
	grid-area: about;
}
.home__experience {
	grid-area: experience;
}
.home__skills {
	grid-area: skills;
}
.home__projects {
	grid-area: projects;
}
.home__referencies {
	grid-area: referencies;
}
.home__contact {
	grid-area: contact;
}
.home__cv {
	grid-area: cv;
}

.modal-closed {
	padding: 1.5vw;
	overflow: hidden;
	height: 100%;
}
.modal-open {
	overflow: hidden;
	height: auto;
}

@media (max-width: 900px) or (min-height: 85vw) {
	.home {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 15rem 30rem 15rem 15rem;
		grid-template-areas:
			"about       about       experience"
			"projects    projects    projects"
			"referencies referencies referencies"
			"skills      contact     cv";
		gap: 1rem;
		padding: 1rem;
		overflow: auto;
		height: 100vh;
	}
}

@media screen and (max-width: 650px) {
	.home {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 15rem 15rem 40rem 15rem;
		grid-template-areas:
			"about       about"
			"skills      experience"
			"projects    projects"
			"referencies referencies"
			"contact     cv";
	}
	.home__section__modal--open > div {
		padding-top: 3rem;
	}
	/* 
	.home__section__modal > .close-button {
		padding: 1rem 2.55%;
	} */
}

@media screen and (max-width: 450px) {
	.home {
		grid-template-columns: 1fr;
		grid-template-rows: 15rem 10rem auto 25rem 15rem;
		grid-template-areas:
			"about"
			"experience"
			"skills"
			"projects"
			"referencies"
			"contact"
			"cv";
	}
	.home__section__modal > .close-button {
		padding: 0.5rem;
	}
}
