.modal__closed--default {
	transition: 1s;
	background-color: #2f355199;
	overflow: hidden;
	height: auto;
	transform: padding 1s;
}
.modal__open--default {
	background-color: #1d2133;
	padding: 5vh 10vw;
	padding-top: 0;
	overflow: hidden;
}

@media screen and (max-width: 600px) {
	.modal__open--default {
		padding: 2vh 5vw;
	}
}
@media screen and (max-width: 400px) {
	.modal__open--default {
		padding: 1vh 2.5vw;
	}
}
